<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="eu.redset.transformation.ui.actionSet"
            label="ReDSeT Action Set"
            visible="true">
         <action
               class="eu.redset.transformation.ui.actions.RunTransformationAction"
               enablesFor="1"
               icon="icons/RSL2TSL.png"
               id="eu.redset.transformation.ui.actions.RunTransformation"
               label="Generate Tests Specificationtion"
               menubarPath="redseeds.menu/redsetGroup"
               toolbarPath="Normal/additions"
               tooltip="Generates Tests Specification">
               <enablement>
                     <objectClass name="eu.redseeds.scl.model.sclkernel.SoftwareCaseDTO"/>
               </enablement>
         </action>
      </actionSet>
   </extension>

</plugin>
