<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.remics.engine.perspective.PerspectiveFactory"
            icon="icons/remics_persp.png"
            id="eu.remics.engine.perspective"
            name="TALE">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="eu.remics.engine.PerspectivePartListener">
      </startup>
   </extension>

</plugin>
