<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="rsldl.presentation.RsldlModelWizardID"
            name="%_UI_RsldlModelWizard_label"
            class="rsldl.presentation.RsldlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RsldlModelFile.gif">
         <description>%_UI_RsldlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="rsldl.presentation.RsldlEditorID"
            name="%_UI_RsldlEditor_label"
            icon="icons/full/obj16/RsldlModelFile.gif"
            extensions="rsldl"
            class="rsldl.presentation.RsldlEditor"
            contributorClass="rsldl.presentation.RsldlActionBarContributor">
      </editor>
   </extension>

</plugin>
