<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=additions">
         <toolbar
               id="eu.remics.script.loader.toolbar">
            <command
                  commandId="eu.remics.script.loader.command"
                  icon="icons/load_script2.GIF"
                  label="Load Script"
                  style="push"
                  tooltip="Loading script file">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="eu.remics.engine.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.remics.script.loader.command"
            name="Load Script">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.remics.script.loader.commands.LoadScript"
            commandId="eu.remics.script.loader.command">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <or>
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.core.resources.IFolder">
                     </instanceof>
                     <instanceof
                           value="eu.redseeds.scl.model.rsl.rslrequirements.requirementsspecifications.RequirementsSpecificationDTO">
                     </instanceof>
                     <instanceof
                           value="eu.redseeds.scl.model.rsl.rslrequirements.requirementsspecifications.RequirementsPackageDTO">
                     </instanceof>
                     <instanceof
                           value="eu.redseeds.scl.model.rsl.rslrequirements.requirementsspecifications.RequirementDTO">
                     </instanceof>
                     <instanceof
                           value="eu.redseeds.scl.model.rsl.rslrequirements.requirementsspecifications.UseCaseDTO">
                     </instanceof>
                     <instanceof
                           value="eu.redseeds.scl.model.rsl.rsldomainelements.domainelements.DomainSpecificationDTO">
                     </instanceof>
                     <instanceof
                           value="eu.redseeds.scl.model.rsl.rsldomainelements.actors.ActorsPackageDTO">
                     </instanceof>
                     <instanceof
                           value="eu.redseeds.scl.model.rsl.rsldomainelements.notions.NotionsPackageDTO">
                     </instanceof>
                     <instanceof
                           value="eu.redseeds.scl.model.rsl.rsldomainelements.systemelements.SystemElementsPackageDTO">
                     </instanceof>
                     <instanceof
                           value="eu.redseeds.scl.model.rsl.rsldomainelements.actors.ActorDTO">
                     </instanceof>
                     <instanceof
                           value="eu.redseeds.scl.model.rsl.rsldomainelements.notions.NotionDTO">
                     </instanceof>
                     <instanceof
                           value="eu.redseeds.scl.model.rsl.rsldomainelements.notions.DomainStatementDTO">
                     </instanceof>
                     <instanceof
                           value="eu.redseeds.scl.model.rsl.rsldomainelements.systemelements.SystemElementDTO">
                     </instanceof>
                     <instanceof
                           value="eu.redseeds.scl.model.rsl.rslrequirementrepresentations.descriptiverequirementrepresentations.ConstrainedLanguageScenarioDTO">
                     </instanceof>
                     <instanceof
                           value="eu.redseeds.scl.model.sclkernel.SoftwareCaseDTO">
                     </instanceof>
                  </or>
               </iterate>
               <and>
                  <count
                        value="1">
                  </count>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
